body{
    background-image: url("images/paws.jpg");
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover; 
}

.header{
    text-align: center; 
}

.newBody{
    background-color: white;
    
}

.ryan{
    background-image: url("images/images.jpg");
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover; 
}

.btn {
    margin-left: 30%; 
    /* border-radius: 25px;  */
    font-family: 'Gloria Hallelujah', cursive;
}